/* HomeForm.css */
.form-container {
    max-width: 300px;
    margin: 0 auto;
}

.form-container .p-field {
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container .p-inputtext {
    width: 100%;
}

.form-container .p-password {
    width: 100%;
}

/* Add styles for Card */
.p-card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
