/* src/pages/Home.css */
.home-container {
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color for better contrast */
    padding: 20px; /* Add padding for readability */
}

/* src/styles/Home.css */
@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.3);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.heart {
    animation: heartBeat 1.5s infinite;
}

/*<a href="https://www.flaticon.com/free-icons/heart" title="heart icons">Heart icons created by Kroffle - Flaticon</a>*/
.heart {
    width: 50px;
    height: 50px;
    background-image: url('../assets/heart.png'); /* Replace with your heart image */
    background-size: cover;
    animation: heartBeat 1.5s infinite;
}
